p {
    display: block;
}
li{
    display: inline-block;
    text-align: center;
}
li img{
    width: 20%;
}
div{
    display: block;
}
p,table{
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3,h2,h4{
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    width: 1226px;
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px solid #FF6700;
}
.linha{
    margin-left: -14px;
}
.span5{
    width: 296px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
}
.span15{
    width: 916px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
}
.container:after, .container:before {
    content: " ";
    display: table;
    clear: both;
}
.contexto{
    line-height: 38px;
    font-size: 18px;
}
h3{
    font-size: 30px;
    line-height: 54px;
    margin-bottom: 10px;
}
@media only screen and (max-device-width: 700px){
    .div-fotos img{
        width: 30%;
        text-align: left;
    }
    .container{
        width: 360px;
        text-align: left;
        vertical-align: inherit;
        display: block;
    }
    .contexto h3,p,h4,td,tr,tbody{
        padding: 0px;
        margin: 0px;
        font-size: 80%;
        float: none;
        text-align: left;
        display: block;
        width: 350px;
    }
    .span15,.span5,.contexto{
        float: none;
        width: 350px;
    }
    ul{
        padding: 0px;
    }
}